<script type="text/javascript" src="lib/map/aba.js"></script>
<script type="text/javascript" src="lib/map/bazhong.js"></script>
<script type="text/javascript" src="lib/map/chengdu.js"></script>
<script type="text/javascript" src="lib/map/dazhou.js"></script>
<script type="text/javascript" src="lib/map/deyang.js"></script>
<script type="text/javascript" src="lib/map/ganzi.js"></script>
<script type="text/javascript" src="lib/map/guangan.js"></script>
<script type="text/javascript" src="lib/map/guangyuan.js"></script>
<script type="text/javascript" src="lib/map/leshan.js"></script>
<script type="text/javascript" src="lib/map/liangshan.js"></script>
<script type="text/javascript" src="lib/map/luzhou.js"></script>
<script type="text/javascript" src="lib/map/meishan.js"></script>
<script type="text/javascript" src="lib/map/mianyang.js"></script>
<script type="text/javascript" src="lib/map/nanchong.js"></script>
<script type="text/javascript" src="lib/map/neijiang.js"></script>
<script type="text/javascript" src="lib/map/panzhihua.js"></script>
<script type="text/javascript" src="lib/map/suining.js"></script>
<script type="text/javascript" src="lib/map/yaan.js"></script>
<script type="text/javascript" src="lib/map/yibin.js"></script>
<script type="text/javascript" src="lib/map/zigong.js"></script>
<script type="text/javascript" src="lib/map/ziyang.js"></script>

<script type="text/javascript" src="js/province.js"></script>

<div class="mapshow" id="mapshowcity" style="width: 800px;height: 500px;">
	地图显示
</div>

